.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.34);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 95vw;
  max-width: 440px;
  max-height: 92vh;
  background: #fff;
  border-radius: 17px;
  box-shadow: 0 10px 50px #2222;
  position: relative;
  padding: 36px 24px 26px 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.closeBtn {
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 22px;
  background: none;
  border: none;
  color: #888;
  cursor: pointer;
}
@media (max-width: 600px) {
  .wrapper {
    border-radius: 11;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 10px);
    min-height: unset;
    padding: 22px 9px 12px 9px;
  }
  .closeBtn {
    right: 9px;
    top: 9px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    max-width: calc(100vw - 12px);
    width: calc(100vw - 12px);
    min-width: 0;
    border-radius: 9px;
    min-height: unset;
    max-height: calc(100vh - 60px);
    padding: 11px 5.5px 9px 5.5px;
    box-sizing: border-box;
  }
  .closeBtn {
    right: 6px;
    top: 6.5px;
  }
}
