.button {
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 7px 16px;
  transition: background 0.12s, color 0.12s;
  outline: none;
  border: none;
  box-shadow: 0 2px 8px #2274e705;
}

.primary {
  background: linear-gradient(90deg, #267fff 97%, #277ffe 100%);
  color: #fff;
}

.primary:hover {
  background: linear-gradient(90deg, #2274e7 97%, #2374ea 100%);
}
.secondary {
  background: #fff;
  color: var(--primary-blue);
  border: 1.5px solid var(--border-blue);
}

.secondary:hover {
  background: #f2f8ff;
}

.round {
  border-radius: 30px;
  padding: 15px 34px;
  font-size: 1rem;
  font-weight: 600;
}
