.navBar {
  width: 100%;
  max-width: 600px; /* 레이아웃과 동일 */
  margin: 0 auto; /* 동일하게 가운데 정렬 */
  box-sizing: border-box;
  padding: 0 16px; /* 레이아웃과 동일 */
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-weight: 900;
  font-size: 1.45em;
  letter-spacing: 1.2px;
  color: #2274e7;
  margin-left: 10px;
}

.user {
  font-size: 1rem;
  color: #333;
}
